.wrapper {
  height: 100%;
  width: 100%;
  border-bottom: 2px solid black;
}

.navList {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
}

.navListItem {
  position: relative;

  &:hover .navListItemDropdown {
    display: block;
  }

  &:hover .navListItemButton {
    border-bottom: 2px solid black;
  }
}

.navListItemButton {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.navListItemDropdown {
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: turquoise;
}

.navListItemDropdownLink {
  display: block;
}
